html,body {
  height: 100%;
  max-height: 100%
}


.container {
  height: 100%;
}

.navigation {
  position:relative;
left: 0;
top: 0;
width: 170px;
    overflow-y: auto
}

.btn-block {
  border-radius: 5px;
  border: 0.2px solid;
  background: transparent;


}

.active{
  color: #FFC0CB

}

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
